// Control core UART
IO_LOC "uart_tx" C3;
IO_PORT "uart_tx" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "uart_rx" B3;
IO_PORT "uart_rx" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

// SD card
IO_LOC "spi_cs_sd" A11;
IO_PORT "spi_cs_sd" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "spi_mosi_sd" E11;
IO_PORT "spi_mosi_sd" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "spi_clk_sd" L5;
IO_PORT "spi_clk_sd" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "spi_miso_sd" K11;
IO_PORT "spi_miso_sd" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

// DS2 Joysticks
IO_LOC "joystick_cs_0" G10;
IO_PORT "joystick_cs_0" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "joystick_mosi_0" D10;
IO_PORT "joystick_mosi_0" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "joystick_clk_0" C10;
IO_PORT "joystick_clk_0" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "joystick_miso_0" B10;
IO_PORT "joystick_miso_0" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

IO_LOC "joystick_cs_1" G11;
IO_PORT "joystick_cs_1" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "joystick_mosi_1" D11;
IO_PORT "joystick_mosi_1" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "joystick_clk_1" C11;
IO_PORT "joystick_clk_1" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "joystick_miso_1" B11;
IO_PORT "joystick_miso_1" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

// Clock
IO_LOC "clk" E2;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

// HDMI
IO_LOC "hdmi_tx_p[0]" H8,H7;
IO_PORT "hdmi_tx_p[0]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "hdmi_tx_p[1]" G7,G8;
IO_PORT "hdmi_tx_p[1]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "hdmi_tx_p[2]" F5,G5;
IO_PORT "hdmi_tx_p[2]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "hdmi_tx_p[3]" H5,J5;
IO_PORT "hdmi_tx_p[3]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
